PySide6-Fluent-Widgets>=1.8.0
PysideSix-Frameless-Window>=0.7.1
PySide6==6.9.1; sys_platform!="darwin"  # Qt 6.7.3 on Windows Has Internationalization Issues
PySide6==6.7.2; sys_platform=="darwin"  # Qt 6.9.0 on macOS Has Layout Issues
loguru
curl-cffi
nuitka==2.7.1
windows-toasts
darkdetect[macos-listener]; sys_platform=="darwin"
trio
