desktop-notifier>=6.2.0
loguru>=0.7.3
nuitka>=4.0.7
pyside6~=6.10.2
pyside6-fluent-widgets>=1.11.1
qrcode[png]>=8.2
libtorrent>=2.0.11
libtorrent-windows-dll>=0.0.3; sys_platform == 'win32'
winloop>=0.6.0; sys_platform == 'win32'
uvloop>=0.22.1; sys_platform != 'win32'
pyobjc-framework-Cocoa>=10.0; sys_platform == 'darwin'
aioftp[socks]>=0.27.2
m3u8>=6.0.0
mpegdash>=0.4.1
wreq>=0.12.0
orjson>=3.11.9